<ion-row>
  <div class="jornada_titulo ion-padding-start">
    Jornada de Trabalho
  </div>
</ion-row>
<ion-row>
    <ion-col size="12" class="ion-padding">
      <div class="jornada">
    <ion-row>
      <ion-col size="5" >
        <div class="data">30/04/2021</div>
        <div class="dia">Sexta-feira</div>
      </ion-col>
      <ion-col size="7">
        <div class="contador"><h1>00:00</h1><small>00</small></div>
      </ion-col>
      <div class="divisor"></div>
    </ion-row>
    <div class="jornada_tempodia" class="ion-padding-start">
    <ion-row>
      <ion-col size="11" ><div class="jtd"><i class="far fa-clock"></i> <span>08:00 - 18:30</span></div></ion-col>
      <ion-col size="1"><i class="fas fa-chevron-right seta"></i></ion-col>
    
    </ion-row></div>
  </div>
   </ion-col>
</ion-row>