<ion-content class="background">
    <ion-grid class="ion-no-padding">
      <!-- Cabeçalho -->
      <ion-row>
        
        <div style="background-color: #cff143;height:2px;width:100%;"></div>
        <div style="background-color: #818181;width:100%;-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.35);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.35);" class="ion-padding">
        <ion-col size="4" offset="8" style="color:white;">
            Veritime
    
        </ion-col>
      </div>
      <!-- Boas vindas -->
      </ion-row>
      <ion-row class="ion-margin-top ion-margin-start">
        
        <ion-col style="color:white;">
            <div class="boasvindas">Olá <b>Kleber</b>,boa tarde!</div>
    
        </ion-col>
        
      </ion-row>
      <app-listagem-atendimentos></app-listagem-atendimentos>
      <app-jornada-trabalho></app-jornada-trabalho>
      <div class="final_page" style="height:100px;width:100%;"></div>
      <app-menu></app-menu>
    </ion-grid>
  </ion-content>